.OrderView-container {
  position: relative;
  width: clamp(500px, 30vw, 1200px);
  padding: 30px 50px;
  /* box-sizing: border-box; */
  
  
  background: white;
  border-radius: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container * {
  width: 100%;
  box-sizing: border-box;
}




.OrderView-container #title {
  width: fit-content;
  padding: 20px 40px;

  background: hsl(83, 71%, 45%);
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  
  text-align: center;
}






.OrderView-container #order {
  padding: 30px 30px;
  margin-top: 20px;

  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container #order hr {
  margin: 10px 0 10px 0;
}

.OrderView-container #order #info
{
  text-align: center;
}

.OrderView-container #order #content{
  max-height: calc(90vh - 470px);
  overflow-y: scroll;
}

.OrderView-container #order #status {
  width: fit-content;
  text-align: center;
  /* background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 50px; */
}

.OrderView-container #order #status #payment {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(56, 56, 56);
  margin-bottom: 7px;
}



.OrderView-container #order #status #ship {
  padding: 20px 60px;
  

  background: rgb(221, 221, 221);
  border-radius: 12px;
  
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}



.OrderView-container #order #status #update {
  color: grey;
}


.OrderView-cancel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8rem;
  height: 4rem;

  border: none;
  background: linear-gradient(
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 78%) 15%,
    hsl(0, 0%, 89%) 40%,
    hsl(0, 0%, 77%) 85%
  );
  border-radius: 0px 10px 0px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;

  cursor: pointer;
}
