.OrderView-container {
  position: relative;
  width: clamp(500px, 30vw, 1200px);
  padding: 30px;
  /* box-sizing: border-box; */
  
  
  background: white;
  border-radius: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container * {
  width: 100%;
  box-sizing: border-box;
}




.OrderView-container #title {
  width: fit-content;
  padding: 20px 40px;

  background: hsl(83, 71%, 45%);
  border-radius: 15px;
  
  text-align: center;
}






.OrderView-container #order {
  padding: 30px 30px;
  margin-top: 20px;

  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container #order hr {
  margin: 10px 0 10px 0;
}

.OrderView-container #order #info
{
  text-align: center;
}

.OrderView-container #order #content{
  max-height: calc(90vh - 470px);
  overflow-y: scroll;
}

.OrderView-container #order #status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.OrderView-container #order #status .payment {
  margin-top: 7px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


/* Payment status styles */
.OrderView-container #order #status .payment .payment-status {
  height: 40px;

  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(56, 56, 56);

  display: flex;
  align-items: center;
  justify-content: center;

}

.OrderView-container #order #status .payment .payment-status.unpaid {
  color: rgb(255, 255, 255);
  background: hsl(0, 63%, 56%);
}
.OrderView-container #order #status .payment .payment-status.paid {
  color: rgb(255, 255, 255);
  background: hsl(91, 100%, 37%);
}

/* Pay button styles */
.OrderView-container #order #status .pay {
  max-width: 300px;
  height: 40px;
  padding: 10px;
  margin: 0px ;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: hsl(103, 60%, 40%);
  
  color: white;
  font-size: 1rem;
  
  transition: all 0.4s ease;
  cursor: pointer;
}

.OrderView-container #order #status .pay svg {
  width: 30px;
}

.OrderView-container #order #status .pay:hover {
  box-shadow: 0 0 0 8px hsla(101, 60%, 61%, 0.7);
}

/* Ship status styles */

.OrderView-container #order #status .ship {
  margin-top: 10px;
  padding: 20px 60px;
  
  
  background: hsl(0, 0%, 87%);
  border-radius: 12px;
  
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.OrderView-container #order #status .ship.canceled,
.OrderView-container #order #status .ship.cancelled_due_to_insufficient_stock,
.OrderView-container #order #status .ship.cancelled_due_to_payment_expiry
{
  background: hsl(0, 63%, 56%);
  color: white;
}

.OrderView-container #order #status .ship.processing
{
  background: hsl(0, 0%, 51%);
  color: white;
}



.OrderView-container #order #status .ship.in_transit {
  background: hsl(49, 85%, 50%);
  color: white;
}

.OrderView-container #order #status .ship.refunding
{
  background: hsl(246, 63%, 46%);
  color: white;
}

.OrderView-container #order #status .ship.delivered,
.OrderView-container #order #status .ship.refunded,
.OrderView-container #order #status .ship.returned
{
  background: hsl(101, 63%, 46%);
  color: white;
}

.OrderView-container #order #status #update {
  color: grey;
}


.OrderView-cancel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8rem;
  height: 4rem;

  border: none;
  background: linear-gradient(
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 78%) 15%,
    hsl(0, 0%, 89%) 40%,
    hsl(0, 0%, 77%) 85%
  );
  border-radius: 0px 10px 0px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;

  cursor: pointer;
}
