.OrderView-container {
  position: relative;
  width: clamp(500px, 30vw, 1200px);
  padding: 40px 40px 30px 40px;
  box-sizing: border-box;
  
  
  background: white;
  border-radius: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container * {
  width: 100%;
  box-sizing: border-box;
}




.OrderView-container #title {
  width: fit-content;
  padding: 20px 40px;

  background: linear-gradient(45deg,hsl(81, 71%, 45%),hsl(88, 71%, 38%));
  border-radius: 10px;
  /* box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1); */
  
  text-align: center;
}






.OrderView-container #order {
  

  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container #order hr {
  margin: 10px 0 10px 0;
}

.OrderView-container #order #info
{
  text-align: center;
}

.OrderView-container #order #content{
  padding: 30px 30px;
  margin: 20px 0px;

  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderView-container #order #status {
  width: fit-content;
  text-align: center;
  /* background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 50px; */

}




.OrderView-container #order #status #ship {
  padding: 20px 60px;
  

  background: linear-gradient(45deg,hsl(88, 71%, 45%),hsl(88, 71%, 38%));
  border-radius: 5px;

  color: white;
  font-weight: bold;
  text-align: center;
}





.OrderView-cancel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8rem;
  height: 4rem;

  border: none;
  background: linear-gradient(45deg,hsl(83, 71%, 45%),hsl(88, 71%, 38%));
  border-radius: 0px 10px 0px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;

  cursor: pointer;
}
