.VoucherForm-container {
  position: relative;
  background: rgb(230, 230, 230);
  width: clamp(600px, 45%, 1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 15vh 0px;
}

.VoucherForm-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5%;
}
.VoucherForm-container header #title {
  font-size: clamp(0rem, min(3.5vh, 3.5vw), 2rem);
  font-weight: bold;
}
.VoucherForm-container header #subTitle {
  font-size: clamp(0rem, min(2vh, 2vw), 1.5rem);
}

.voucher-form {
  padding: 3vh 0px;

  display: flex;
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.5rem);
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background: hsl(0, 0%, 85%);
  width: 80%;
}


.voucher-form #section-data {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.voucher-form #section-data input {
  height: clamp(0.5rem, min(3.5vh, 3.5vw), 3rem);
  width: 100%;
  padding-left: 3%;
  margin-bottom: 1%;

  background: rgb(243, 243, 243);
  border-radius: 5px;
  border: none;
  
  vertical-align: center;
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.2rem);
  
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.voucher-form #section-data input:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
}

.voucher-form #section-data textarea {
  font-family: calibri;
  height: clamp(1rem, min(10vh, 10vw), 10rem);
  width: 100%;
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.2rem);
  border-radius: 5px;
  border: none;
  margin-bottom: 1%;
  padding-left: 3%;
  vertical-align: center;
  background: rgb(243, 243, 243);
  resize: none;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.voucher-form #section-data textarea:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
}

.voucher-form #section-data select {
  height: clamp(0.5rem, min(3.5vh, 3.5vw), 3rem);
  width: 100%;
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.2rem);
  border-radius: 5px;
  border: none;
  margin-bottom: 1%;
  padding-left: 2%;
  vertical-align: center;
  background: rgb(243, 243, 243);
  transition: all 0.4s ease;
}

#VoucherForm-cancel {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 9rem;
  height: 3rem;
  border: none;
  background: rgb(175, 0, 0);
  border-radius: 0px 0px 20px 20px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#VoucherForm-cancel * {
  color: white;
}
#VoucherForm-cancel:hover {
  background: rgb(154, 0, 0);
}
#VoucherForm-cancel:active {
  background: rgb(134, 0, 0);
}

#VoucherForm-submit {
    padding: 20px 30px;

  position: absolute;
  bottom: 5%;

  border-radius: 10px;
  border: none;

  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.btn-add {
  background: hsl(258, 70%, 55%);
  color: white;
}
.btn-add:hover {
  background: hsl(258, 70%, 50%);
}
.btn-add:active {
  background: hsl(258, 70%, 45%);
}
.btn-edit {
  background: hsl(219, 100%, 40%);
  color: white;
}
.btn-edit:hover {
  background: hsl(219, 100%, 35%);
}
.btn-edit:active {
  background: hsl(219, 100%, 30%);
}
.btn-delete {
  background: hsl(0, 100%, 40%);
  color: white;
}
.btn-delete:hover {
  background: hsl(0, 100%, 35%);
}
.btn-delete:active {
  background: hsl(0, 100%, 30%);
}
