.AdminVoucherRow {
  transition: all 0.4s ease;
}


.AdminVoucherRow td {
  padding: 10px 20px;
}

.AdminVoucherRow #index {
  background: hsl(0, 0%, 90%);
  padding: 0;
}

.AdminVoucherRow #name {
  font-weight: bold;
}

.AdminVoucherRow #code {
  font-size: 1.2rem;
  background: hsla(0, 0%, 80%, 0.3);
}

.AdminVoucherRow #type span {
  display: inline-block;
  padding: 4px 8px;
  
  background: none;
  border-radius: 12px;
  border: 1px solid black;
  
  text-transform: uppercase;
  color: #000000;
  font-size: 0.8rem;
  font-weight: bold;
}

.AdminVoucherRow #type #percentage {
  border: 1px solid hsl(0, 100%, 20%);
  background: hsl(0, 70%, 80%);
  color: hsl(0, 100%, 20%);
}

.AdminVoucherRow #type #fixed {
  border: 1px solid hsl(120, 100%, 25%);
  background: hsl(120, 50%, 80%);
  color: hsl(120, 100%, 25%);
}



.AdminVoucherRow #value #percentage {
  font-weight: bold;
  color: rgb(236, 3, 3);
}

.AdminVoucherRow #value #fixed {
  font-weight: bold;
  color: rgb(7, 182, 45);
}

.AdminVoucherRow #usage {
  font-weight: bold;
  color: red;
}

.AdminVoucherRow #actions #edit,
.AdminVoucherRow #actions #delete {
  width: 7rem;
  height: 2.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
  color: white;
}
.AdminVoucherRow #actions #edit {
  background: rgb(0, 91, 196);
}
.AdminVoucherRow #actions #edit:hover {
  background: rgb(0, 80, 172);
}
.AdminVoucherRow #actions #edit:active {
  background: rgb(0, 67, 145);
}

.AdminVoucherRow #actions #delete {
  background: rgb(210, 0, 0);
}
.AdminVoucherRow #actions #delete:hover {
  background: rgb(190, 0, 0);
}
.AdminVoucherRow #actions #delete:active {
  background: rgb(150, 0, 0);
}
