.Checkout-page {
  padding: 50px 20%;
  min-height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Checkout-container {
  width: 100%;
    background: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 30px 10px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Checkout-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;

}

.Checkout-items,
.Checkout-right > div {
  border: 1px solid #ddd;
  padding: 15px 25px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 8px 30px 15px rgba(0, 0, 0, 0.1);
}

.Checkout-items h3,
.Checkout-right > div h3{
  margin-bottom: 10px;
}





.Checkout-items {
  width: 50%;
}

.Checkout-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Checkout-item img {
  width: 80px;
  margin-right: 15px;
  border-radius: 5px;
}





.Checkout-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}




.Checkout-shipinfo form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Checkout-shipinfo input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.Checkout-shipinfo input:focus {
  outline: none;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.3);
}





.Checkout-payments {
  display: flex;
  flex-direction: column;
}

.Checkout-payments label {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  
}

.Checkout-payments label input {
  margin: 10px;
}

.Checkout-payments label img {
  margin: 10px;
  width: 60px;
}





.Checkout-placeorder {
  padding: 10px;
  height: 3rem;
  background: hsl(0, 100%, 42%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: bold;
  /* box-shadow: 0 3px 10px 10px rgba(0, 0, 0, 0.1); */
}

.Checkout-placeorder:hover {
  box-shadow: 0 0 0px 10px hsla(0, 100%, 42%,0.3);
}
.Checkout-placeorder:active {
  background: hsl(0, 100%, 38%);
}



.Checkout-OrderPreview-overlay {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}