.ProductForm-container {
  position: relative;
  background: rgb(230, 230, 230);
  width: clamp(0px, 65%, 1500px);
  height: clamp(0px, 75%, min(70vh,70vw));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0;
}

.ProductForm-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5%;
}
.ProductForm-container header #title {
  font-size: clamp(0rem, min(3.5vh, 3.5vw), 2rem);
  font-weight: bold;
}
.ProductForm-container header #subTitle {
  font-size: clamp(0rem, min(2vh, 2vw), 1.5rem);
}

.product-form {
  display: flex;
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.5rem);
  justify-content: center;
  align-items: center;
  width: clamp(0px, 80%, 900px);
  height: 60%;
  border-radius: 30px;
  background: rgb(209, 209, 209);
}

.product-form #section-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  /* height: 80%; */
  width: clamp(100px,30%, 300px);
  height: clamp(100px,80%, 30vw);
  padding: 2%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
}
.product-form #section-image img {
  width: 90%;
  height: 70%;
}

.product-form #section-image #upload-image {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background: rgb(49, 160, 27);
  font-size: clamp(0.5rem, 50%, 1rem);
  color: white;
  cursor: pointer;
}
.product-form #section-image #upload-image *{
  color: white;
}

.product-form #section-data {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.product-form #section-data input {
  height: clamp(0.5rem, min(4vh,4vw), 3rem);
  width: clamp(0.5rem, 100%, 25rem);
  font-size: clamp(0.5rem, min(3vh, 1.7vw), 1.2rem);
  border-radius: 5px;
  border: none;
  margin-bottom: 1%;
  padding-left: 3%;
  vertical-align: center;
}

#ProductForm-cancel {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 9rem;
  height: 3rem;
  border: none;
  background: rgb(175, 0, 0);
  border-radius: 0px 0px 20px 20px;
  color: white;
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#ProductForm-cancel * {
  color: white;
}

#ProductForm-submit {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 5%;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: rgb(255, 186, 58);
  cursor: pointer;
}
