.Order-row {
    background: white;
    height: 8rem;
}

.Order-row td {
  padding: 10px;
  margin-top: 20px;
  height: 100%;

  border-top: 2px solid hsl(83, 71%, 45%);
  border-bottom: 2px solid hsl(83, 71%, 45%);
  border-right: 2px solid rgb(236, 236, 236);

  text-align: center;
  vertical-align: center;
}

.Order-row td:first-child {
  border-radius: 20px 0px 0px 20px;
  border-left: none;
}

.Order-row td:last-child {
  border-radius: 0px 20px 20px 0px;
  border-right: none;
}

.Order-row #image {
    height: 100%;
    margin: 0;
    padding: 0;

    background: rgba(0, 0, 0, 0.2);
 
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.Order-row #image img {
    height: calc(8rem + 10px);
}

.Order-row #content {
    max-width: 300px;
    padding: 10px 20px;
}

/* Payment status badge */
.Order-row .payment span {
    padding: 5px 10px;
    
    background: rgb(241, 241, 241);
    border-radius: 60px;
    border: 2px solid lightgrey;
    
    color: grey;

    white-space: nowrap;
}
.Order-row .payment.paid span {
    background: rgb(56, 180, 7);
    border-color: rgb(0, 155, 0);
    color: rgb(239, 255, 228);
}


.Order-row #index {
    background: rgb(121, 178, 52);
    color: white;
    font-weight: bold;
}

.Order-row #total {
    color: rgb(70, 136, 27);
    font-weight: bold;
    font-size: 1.2rem;
}

.Order-row #action button {
    border: none;
    border-radius: 5px;
    background: hsl(87, 45%, 55%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;

    cursor: pointer;
}