.AdminLayout-container {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}

.AdminLayout-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.AdminLayout-page-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
}
